# EXAM

In [38]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

* 1. csv 로드 데이터프레임

In [82]:
df = pd.read_csv('./Boston_house.csv')
df.head(2)

,AGE,B,RM,CRIM,DIS,INDUS,LSTAT,NOX,PTRATIO,RAD,ZN,TAX,CHAS,Target
0,65.2,396.9,6.575,0.00632,4.0900,2.31,4.98,0.538,15.3,1,18.0,296,0,24.0
1,78.9,396.9,6.421,0.02731,4.9671,7.07,9.14,0.469,17.8,2,0.0,242,0,21.6

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   AGE      506 non-null    float64
 1   B        506 non-null    float64
 2   RM       506 non-null    float64
 3   CRIM     506 non-null    float64
 4   DIS      506 non-null    float64
 5   INDUS    506 non-null    float64
 6   LSTAT    506 non-null    float64
 7   NOX      506 non-null    float64
 8   PTRATIO  506 non-null    float64
 9   RAD      506 non-null    int64
 10  ZN       506 non-null    float64
 11  TAX      506 non-null    int64
 12  CHAS     506 non-null    int64
 13  Target   506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

* 2. RM컬럼을 정렬 후 상위 1% 출력

In [41]:
top_1 = int(df['RM'].shape[0]/100)
top_1

5

In [42]:
df['RM'].sort_values(ascending = False)[:top_1]

364    8.780
225    8.725
257    8.704
262    8.398
163    8.375
Name: RM, dtype: float64

----

## nlargest(), nsmallest()

In [67]:
df['RM'].nlargest(top_1)

364    8.780
225    8.725
257    8.704
262    8.398
163    8.375
Name: RM, dtype: float64

In [70]:
df['RM'].nsmallest(5)

365    3.561
367    3.863
374    4.138
406    4.138
384    4.368
Name: RM, dtype: float64

---

## 백분위수(np.percentile, pd.quantile())
: 오름차순 정렬했을 때 0을 최소값, 100을 최대값으로 
  백분율로 나타낸 특정 위치 값

## pd.quantile() : 데이터프레임일때

* 전체 데이터 중 중앙(50%), 25%, 25~50%에 위치한 값을 구해라.
<pre>
test = pd.DataFrame([1,2,3,4,5,6,7,8,9,10], columns=['seq'])
print(test.head())
print ( "50%중앙값:",  test['seq'].quantile(q=0.5, interpolation='nearest') )
print ( "25%:",  test['seq'].quantile(q=0.25, interpolation='nearest') )

In [43]:
test = pd.DataFrame([1,2,3,4,5,6,7,8,9,10], columns=['seq'])
test['seq'].quantile(0.5)

5.5

In [47]:
test['seq'].quantile(0.5,interpolation='nearest')

5

In [48]:
test['seq'].quantile(0.25)

3.25

In [49]:
test['seq'].quantile(0.25,interpolation='nearest')

3

In [63]:
test['seq'][(test['seq']>= test['seq'].quantile(0.25)) & ( test['seq']<=test['seq'].quantile(0.5))  ].values.reshape(-1)

array([4, 5], dtype=int64)

## np.percentile(array or list, 퍼센트)

In [55]:
a = [1,2,3,4,5,6,7,8,9,10]
np.percentile(a,50)

5.5

## df['컬럼값'].describe().loc['50%']

In [58]:
test['seq'].describe().loc['50%']

5.5

---

3. Target 컬럼을 대상으로 평균 이상의 값을 갖는 데이터의 갯수 출력

In [88]:
df['Target'][df['Target']>=df['Target'].mean()].count()

209

In [87]:
df['Target'][df['Target']>=df['Target'].mean()].shape[0]

209

In [86]:
len(df['Target'][df['Target']>=df['Target'].mean()])

209

4. RM이 3이상이고 CHAS에 인접한 데이터의 갯수 출력

In [54]:
df['Target'][(df['RM']>=3)&(df['CHAS']==1)].count()

35

In [89]:
len(df[(df['RM']>=3)&(df['CHAS']==1)])

35

In [90]:
df['Target'][(df['RM']>=3)&(df['CHAS']==1)].shape[0]

35

----

<pre>
선물 판매 온라인 스토어에서  발생한 거래 내역 데이터
• InvoiceNo : 거래 고유 번호
• StockCode : 상품 고유 번호
• Description : 상품명
• Quantity : 거래 수량
• InvoiceDate : 거래 일시
• UnitPrice : 상품 단가
• CustomerID : 구매자 고유 번호
• Country : 구매 국가

In [91]:
df = pd.read_csv('./Online_retail_mini.csv')
df.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,South Korea
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,South Korea

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    83 non-null     object
 1   StockCode    83 non-null     object
 2   Description  83 non-null     object
 3   Quantity     83 non-null     int64
 4   InvoiceDate  83 non-null     object
 5   UnitPrice    81 non-null     float64
 6   CustomerID   76 non-null     float64
 7   Country      83 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 5.3+ KB

5. InvoiceDate 컬럼을 대상으로 년도 월 정보를 추출한 후 InvoiceDate로 오름차순 정렬

In [9]:
from datetime import datetime

In [10]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [11]:
df['y'] = df['InvoiceDate'].dt.year
df['y'].head(2)

0    2010
1    2010
Name: y, dtype: int64

In [12]:
df['m'] = df['InvoiceDate'].dt.month
df['m'].head(2)

0    12
1    12
Name: m, dtype: int64

In [13]:
df[['InvoiceDate','y','m']].sort_values('InvoiceDate',ascending = True).head()

          InvoiceDate     y   m
0 2010-12-01 08:26:00  2010  12
1 2010-12-01 08:26:00  2010  12
2 2010-12-01 08:26:00  2010  12
3 2010-12-01 08:26:00  2010  12
4 2010-12-01 08:26:00  2010  12

* 6. 구매국가 Country 값을 수치값으로 변환

In [99]:
print(df['Country'].unique().tolist())

['South Korea', 'United Kingdom', 'Germany', 'Austria', 'France']

In [103]:
my_dic =  dict(enumerate(df['Country'].unique().tolist()))
my_dic

{0: 'South Korea',
 1: 'United Kingdom',
 2: 'Germany',
 3: 'Austria',
 4: 'France'}

In [111]:
def Country_int(x):
    if x == 'South Korea':
        return 0
    elif x == 'United Kingdom':
        return 1
    elif x == 'Germany':
        return 2
    elif x == 'Austria':
        return 3
    elif x == 'France':
        return 4

In [110]:
aa = df['Country'].apply(lambda x :Country_int(x) )
aa.tail(10)

73    1
74    1
75    1
76    1
77    4
78    4
79    4
80    4
81    4
82    4
Name: Country, dtype: int64

In [115]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
le.fit(df['Country'])
df['Country1']=le.transform(df['Country'])
df['Country1'].tail(10)

73    4
74    4
75    4
76    4
77    1
78    1
79    1
80    1
81    1
82    1
Name: Country1, dtype: int32

In [15]:
dfdf= pd.get_dummies(df['Country'])
dfdf.head()

   Austria  France  Germany  South Korea  United Kingdom
0        0       0        0            1               0
1        0       0        0            1               0
2        0       0        0            1               0
3        0       0        0            1               0
4        0       0        0            1               0

In [16]:
df = pd.concat([df,dfdf],axis = 1)

In [17]:
df.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,y,m,Austria,France,Germany,South Korea,United Kingdom
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,South Korea,2010,12,0,0,0,1,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,South Korea,2010,12,0,0,0,1,0

* 7. Object 타입을 갖는 컬럼들에 대해 각 컬럼들이 갖는 고유값의 크기 출력

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   InvoiceNo       83 non-null     object
 1   StockCode       83 non-null     object
 2   Description     83 non-null     object
 3   Quantity        83 non-null     int64
 4   InvoiceDate     83 non-null     datetime64[ns]
 5   UnitPrice       81 non-null     float64
 6   CustomerID      76 non-null     float64
 7   Country         83 non-null     object
 8   y               83 non-null     int64
 9   m               83 non-null     int64
 10  Austria         83 non-null     uint8
 11  France          83 non-null     uint8
 12  Germany         83 non-null     uint8
 13  South Korea     83 non-null     uint8
 14  United Kingdom  83 non-null     uint8
dtypes: datetime64[ns](1), float64(2), int64(3), object(4), uint8(5)
memory usage: 7.0+ KB

In [119]:
df[df.select_dtypes('object').columns].nunique()

InvoiceNo      19
StockCode      80
Description    81
InvoiceDate    14
Country         5
dtype: int64

8. 거래일시(InvoiceDate) 컬럼을 대상으로 년월별 거래 횟수 출력 후 최근일자순 정렬

In [20]:
df[['y','m']].value_counts().sort_index(ascending=False)

y     m
2011  12     6
      7      5
      5     19
      4     37
2010  12    16
dtype: int64

9. 구매자 고유 번호(CustomerID)가 결측인 회원값을 최빈도 값으로 대채

In [124]:
df[df['CustomerID'].isna()].index.values

array([22, 23, 72, 73, 74, 75, 76], dtype=int64)

In [125]:
df['CustomerID'] = df['CustomerID'].fillna(df['CustomerID'].mode()[0])

In [126]:
df['CustomerID'].isna().sum()

0

10. Quantity(거래수량)이 가장 큰 상품들의 상품명(Description), 가격정보(UnitPrice) 출력

In [32]:
df[df['Quantity'] == df['Quantity'].max()][['Description','UnitPrice']]

                           Description  UnitPrice
33  WHITE HANGING HEART T-LIGHT HOLDER       2.55